<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get Message from memory pool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Get Message Info</h1>
<form action="#" th:action="@{/admin/change_status}" method="post">
    <p>
        Message:
        <select name="id">
            <option value="NONE">...Choose...</option>
            <option th:each="message : ${messages}" th:value="${message.id}" th:text="${message.value}"></option>
        </select>
    </p>
    <p>
        Status:
        <select name="status">
            <option th:each="status : ${T(works.red_eye.guest_book.entity.message.Status).values()}"
                    th:value="${status}" th:text="${status.displayValue}"></option>
        </select>
    </p>

    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>